.calender {
  padding: 3rem 12rem;
  background: rgba($font-color-logo,.1);

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--afroshots {
      font-family: 'Playfair Display', serif;
      font-size: 4rem;
      color: $primary-font-color-black;
    }

    &--btns {
      display: flex;
      width: 35%;
      height: 4.3rem;
      justify-content: space-between;
    }

    &--btn {
      position: relative;
      display: block;
      cursor: pointer;
      text-align: center;
      border-radius: 3rem;
      width: 19rem;
      padding: 1.2rem 1rem;
      border: none;
      outline: none;
      font-weight: 500;
      font-size: 1.3rem;

      &-transparent {
        background: transparent;
        color: $font-color-logo;
        border: $font-color-logo 1.4px solid; 
      }

      &-yellow {
        background: $font-color-logo;
        color: #fff;
        border: $font-color-logo 1.4px solid;
      }
    }
  }

  &__middle {
    position: relative;

    &--content {
      display: grid;
      grid-template-rows: 30rem 10rem;
      //background: blue;
      margin-top: 10rem;
      margin-bottom: 14rem;

      &-calenderbody {
        display: grid;
        grid-template-columns: repeat(3, 32rem);
        grid-auto-flow: column;
        justify-content: center;
        align-items: center;
        grid-gap: 2rem;
      }

      &-nav {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &-circle {
        border-radius: 50%;
        height: 2rem;
        width: 2rem;
        background: #3d3d3d;    
        display: inline-block;
        margin: 0 1rem;
        transform: translateY(-.2rem);
      }

      &-navbtn {
        cursor: pointer;

        & svg {
          height: 3rem;
          width: 3rem;
          fill: $primary-font-color-black;
        }
      }
    }
  }
}

.month {
  height: 100%;
  border: rgba($primary-font-color-black,.5) 1.4px solid;
  background: #fff;
  border-radius: .4rem;
}